body
{
    overflow-x: hidden;
}

.navbar-default
{
    margin: 0px;
}

#org-img img
{
    width : 100vw;
    height: 40vh; 
}

#songs-nav-menu .list-group
{
    margin-top : 2px;
    margin-bottom: 0px;
}

#songs-nav-menu .list-group .list-group-item
{
    cursor: pointer;
    border-radius : 0px;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#songs-nav-menu .list-group .active
{
    cursor: pointer;
    border-radius : 0px;
    background-color: #337ab7
}

.list-group
{
    margin: 0px;
}

#upcoming-song-list
{
    display: block;
}

#upvoted-song-list
{
    display: none;
}

.song-list .list-group
{
    margin-top: 2px;
    border-bottom: 2px solid #f1f1f1;
}

.song-list .list-group .list-group-item
{
    border-radius : 0px;
    border: 0px;
    text-align: left;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    line-height: 50px;
    padding: 2px;
}
.song-list .list-group .list-group-item:nth-child(1)
{
    padding: 0px 5px 0px;
    height: 50px;
    position: relative;
    margin: 10px 0px;
    background-color: transparent;
    box-sizing: border-box;
}

.song-list ul li img
{
    height: 50px;
}


.song-list ul li p
{
    height: 35px;
    line-height: 35px;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 768px) {
   #org-img img
    {
        width : 100vw;
        height: 30vh; 
    }
    .song-list .list-group .list-group-item:nth-child(3)
    {
        display: none;
    }
}