doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title MusicTender
        link(rel='stylesheet', href='dist/bootstrap/bootstrap.min.css')
        block head
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') MusicTender
                .collapse.navbar-collapse#myNavbar
                    ul.nav.navbar-nav.navbar-right
                        li.active 
                            a(href='#') HOME
                        li 
                            a(href='#') BROWSE MUSIC
                        li 
                            a(href='#') ABOUT
                        li 
                            a(href='#') CONTACT US
        block content
           
        script(type='text/javascript', src='dist/jquery/jquery-3.2.1.min.js')
        script(type='text/javascript', src='dist/bootstrap/bootstrap.min.js')
            
        block footer